<!DOCTYPE html>
<head>
    <style>
        body {
            background: #82b1cc;
            text-align: center;
        }

        .main {
            margin: 0 auto 0 auto;
            padding: 3px;
            width: 20%;
            height: 50%;
            background: #d1d1d1;
            text-align: center;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <a href="Admin/Add">Добавить</a>
    <a href="Admin/Delete">Удалит</a>
</body>