<!DOCTYPE html>
<head>
    <style>
        body {
            background: #82b1cc;
            text-align: center;
        }

        .main {
            margin: 0 auto 0 auto;
            padding: 3px;
            width: 20%;
            height: 50%;
            background: #d1d1d1;
            text-align: center;
            border: 2px solid black;
        }
    </style>
</head>
<body>    
    <div class = "main">
        <form method="post">
            <p><a>Введите логин</a></p>
            <p><input type="text" size="20" name=login></p>
            <p><a>Введите пароль</a></p>
            <p><input type="password" size="20" name=password></p>
            <p><input type="submit" value="Отправить" size="10" name=button></p>
        </form>
    </div>
</body>