<!DOCTYPE html>

<html>
    <head>
        <link href="~/StyleSheet1.css" rel="stylesheet" type="text/css"/>
        <title>Магазин</title>
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div><h1>Магазин</h1></div>
                <a href="Home/cartpage"><img src="Pictures/Basket.png" /></a>
            </div>
            <menu class="menu">
                <li><a href="#">жми сюда</a></li>
                <li><a href="#">или сюда</a>
                    <div>
                        <a href="#">qwerty</a>
                        <a href="#">йцукен</a>
                    </div>
                </li>
            </menu>
            
            <div class="content">
            @{
                for(int i = 0; i < ViewBag.product.Count;i++){
                    string path="Pictures/" + @ViewBag.product[i].name + ".jpg";
                        <div class="product"> 
                            <img src="@path"/> 
                                    <p><a>@ViewBag.product[i].name</a></p>
                                    <p><a>Цена: @ViewBag.product[i].price</a></p>
                                    <p><a href="Home/product?id=@i">Купить</a></p>
                        </div> 
                }
            }
                

            </div>
        </div>
    </body>
</html>