<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <title>Корзина</title>
</head>
<body>
    <div class="main">
        <div class=" header">
            <div><h1>Подтверждение покупки</h1></div>
        </div>
        <div class="content">
            <div>
                @{
                    for(int i = 0;i < ViewBag.cartlist.Count;i++){
                        string path = "Pictures/" + ViewBag.cartlist[i].name + ".jpg";
                        <div class="cart">
                            <input type="checkbox" size=10 name="checkboxlist" value="@ViewBag.cartlist[i].id" />
                            <img src=~/@path />
                            <div>
                                <h2>@ViewBag.cartlist[i].name</h2>
                                <p> @ViewBag.cartlist[i].price р.</p>
                                <p> Количество: @ViewBag.cartlist[i].amount</p>
                            </div>
                        </div>
                    }
                }
            </div>
            <form method="get">
                <div>
                    <br>Введите своё имя
                    <br><input type="text" size="20" name="name"/>
                    <br>Введите свою фамилию
                    <br><input type="text" size="20" name="surname" />
                    <br>Введите номер телефона
                    <br><input type="text" name="telephone" />
                    <br>Введите адрес доставки
                    <br><input type="text" name="address" />
                    <br><p><input type="submit" name="button" value="Купить" /></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>