<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <title>Корзина</title>
</head>
<body>
    <div class="main">
    Успешно 
    </div>
</body>
</html>
